/* Tables */

table.data_report_Table tr th.sorting_ASC span,
table.data_report_Table tr th.sorting_DESC span,
table.data_report_Table tr th.report_header span {
	background:url(images/bg-sort.gif) no-repeat;
	padding-right:10px;
}

table.data_report_Table tr th.report_header span { background-position:right 2px; }
table.data_report_Table tr th.sorting_ASC span { background-position:right -13px; }
table.data_report_Table tr th.sorting_DESC span { background-position:right -28px; }
	


table.data_report_Table td.total div {
	margin:0;padding:0;
	background:none	
}


table.data_report_Table tr.odd td {
	background:#f8f8f8;
}
table.data_report_Table tr.highlight td{
	background:#dfdfdf;

}
