/* datagrids panel styles */

/* experimental datagrids */
.dbtoolkit-datagrid-wrapper,
.dbtoolkit-datagrid-items-config-wrapper{
  padding: 3px;
  width: 300px;
  float: left;
}
.dbtoolkit-table-selector{
  width: 100%;
}
.dbtoolkit-datagrid-items-config-wrapper{
  width: 520px;
}
.dbtoolkit-datagrid-config-group,
.dbtoolkit-datagrid-group{
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  margin-bottom: 12px;
  padding: 6px;
}
.dbtoolkit-datagrid-config-group{
  margin-bottom: 12px;
  padding: 6px;
}

.dbtoolkit-datagrid-group-helper {
  border: 1px dashed #bfbfbf;
  margin-bottom: 13px;
  padding-bottom: 12px;
}
.dbtoolkit-datagrid-visible-field{
  color: #000 !important;
}
.dbtoolkit-group-handle {
  cursor: move;
  color: #8f8f8f;
}
.dbtoolkit-group-config {
  color: #888;
  cursor: pointer;
  float: right;
  font-size: 1.3em;
}
.dbtoolkit-group-handle:hover,
.dbtoolkit-group-config:hover {
  color: #666666;
}
.dbtoolkit-datagrid-config-group > h3,
.dbtoolkit-datagrid-group > h3 {
  color: #535353;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.dbtoolkit-datagrid-config-group > h3{
  margin-bottom: 8px;
}
.dbtoolkit-datagrid-config-group{
  display: none;
}
.dbtoolkit-datagrid-holder {
  margin-top: 6px;
  min-height: 40px;
}
.dbtoolkit-datagrid-holder .dbtoolkit-datagrid-group-helper {
  margin-bottom: 6.5px;
  padding-bottom: 12px;
}

.dbtoolkit-datagrid-item {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 6px;
  padding: 6px;
  transition: border 200ms ease 0s, background-color 200ms ease 0s;
}
.dbtoolkit-datagrid-item-clone{
  margin-left: 20px;
}
.dbtoolkit-datagrid-item:hover {
  background: none repeat scroll 0 0 #f3f3f3;
}
.dbtoolkit-datagrid-item{
  trans
}
.dbtoolkit-datagrid-item.highlight {
  background: none repeat scroll 0 0 #f3f3f3;
  border: 1px solid #acacac;
}
.dbtoolkit-datagrid-item > h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 0;
  cursor: move;
}


.dbtoolkit-panel-toggle-buttons {
  float: right;
  margin: -2px 9px 0 0;
}

.dbtoolkit-panel-toggle-buttons .button {
  border-radius: 0;
  margin-right: -5px;
}
.dbtoolkit-panel-toggle-buttons .button:first-child {
  border-radius: 3px 0 0 3px;
}
.dbtoolkit-panel-toggle-buttons .button:last-child {
  border-radius: 0 3px 3px 0;
}


/* group config */
.dbtoolkit-datagrid-group-config {
  background: none repeat scroll 0 0 #f7f7f7;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) inset;
  margin-top: 5px;
  padding: 5px;
  display: none;
}
.dbtoolkit-datagrid-group-config > label {
  display: inline-block;
  height: 25px;
  width: 78px;
}