/* 
    Document   : core
    Created on : Apr 17, 2012, 11:13:04 AM
    Author     : David Cramer
    Description:
        admin console styles.
*/
#dbt_app_page, .dbt_app_page{
    width: 6em;
    text-align: center;
}
#dbt_container {
	margin: 15px;
	width: 785px;
	position:relative;
	z-index: 0
}
#dbt_container #header {
	height: 80px;
	background:#dfdfdf url("images/header.png") repeat-x left top;
	border: 1px solid #D8D8D8;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}
#dbt_container #header .title {
	float: left;
	margin:16px;
}
#dbt_container #header .logo {
	float: right;
	margin:9px 5px;
        width:200px;
        height: 60px;
        background: url("images/dbtoolkit-logo.png") no-repeat right top;
}
#dbt_container #js-warning {
    color: red;
    float: left;
    margin: 20px 10px;
    width: 330px;
}
.js #dbt_container #js-warning {
 display: none;
 }
#dbt_container #header .logo h2 {
	font-style:normal;
}

#dbt_container #main {
	background-color: #f1f1f1;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
}
#dbt_container #dbt-nav {
	float: right;
	position: relative;
	z-index: 9999;
	width: 160px;
}
#dbt_container #dbt-nav ul {
	margin:0
}
#dbt_container #dbt-nav li {
	margin-bottom:0
}
#dbt_container #dbt-nav ul li a:link, #dbt-nav ul li a:visited {
	display: block;
	padding: 10px 10px 10px 15px;
	font-size: 13px;
	text-decoration: none;
	color: #797979;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
}
#dbt_container #dbt-nav ul li.current a, #dbt-nav ul li a:hover {
	color: #ef4036;
	background-color: #fff;
        border-left: 1px solid #fff;
}
#dbt_container #content {
	float: left;
	min-height: 515px;
	width: 595px;
	margin-left: -1px;
	padding: 0 14px 14px;
	font-family: "Lucida Grande", Sans-serif;
	background-color: #fff;
	border-left: 1px solid #d8d8d8;
}
#dbt_container.wide{
        width: 985px;
}
#dbt_container.wide #content{
        width: 795px;
}
#dbt_container #content .section {
	margin-bottom: 10px;
}
#dbt_container #content .section h3.heading {

	margin: 10px 0 10px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
}
#dbt_container #content .section .title {
	float: left;
	width: 100px;
	margin: 0 15px 0 0;
}
#dbt_container #content .section .controls {
	float: left;
	width: 230px;
	margin: 0 15px 0 0;
}
#dbt_container #content .section .explain {
	float: left;
	width: 225px;
	padding: 0 10px 0 0;
	font-size: 11px;
	color: #999999;
}
#dbt_container #content .section-checkbox .controls, #dbt_container #content .section-checkbox .controls {
	width:25px
}
#dbt_container #content .section-checkbox .explain {
	width:430px
}
#dbt_container #content .section-color .controls {
	width:125px
}
#dbt_container #content .section-color .explain {
	width:440px
}
#dbt_container #content .section-info h3.heading {
	font-size: 12px;
	font-weight: 100;
	border: 0;
	margin-top: 20px;
	letter-spacing: 1px;
	border-top: 1px solid #FFF298;
	margin-bottom: 0;
	background:#EFE186;
	padding: 10px 20px;
}
#dbt_container #content .section-info .controls {
	margin: 0 0 20px;
	padding: 15px 20px;
	width: auto;
	line-height: 1.5em;
	font-size: 14px;
	font-style: italic;
	font-family: Georgia, arial;
	background: #FFF298;
	border:1px solid #ECD852;
	color:#424242;
}
#dbt_container #content .section-info .controls small {
	font-size: 12px
}
#dbt_container #content .section-info h3.heading {
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
#dbt_container #content .section-info .controls {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}
#dbt_container textarea, #dbt_container input, #dbt_container select {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-style:solid;
	border-width:1px;
}
#dbt_container .controls input, #dbt_container .controls select, #dbt_container .controls textarea {
	margin-bottom: 9px !important;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 225px;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
}
#dbt_container .controls select {
	padding: 0 0 0 4px;
	width: 225x
}
#dbt_container .controls textarea {
	width: 225px;
}
.admin_config_panel input[type=text]{
    width: 120px !important;
}
#dbt_container input[type=text] {
	width: 225px;
}
#dbt_container input.checkbox {
	width: 30px;
}
#dbt_container input.radio {
	width: 30px;
}
#dbt_container .controls .input-text-small {
	width: 60px;
	margin-right:10px
}
#dbt_container .meta-two {
	margin-right:10px
}
#dbt_container .controls .dbt-color {
	float:left;
	width: 80px;
	margin-left:5px; /* font-size:20px; height:34px;*/
}
#dbt_container #content .section-typography .controls {
	width:425px
}
#dbt_container #content .section-typography .explain {
	width:140px
}
#dbt_container .controls .dbt-typography-size {
	width:80px;
	float:left
}
#dbt_container .controls .dbt-typography-unit {
	width:50px;
	float:left
}
#dbt_container .controls .dbt-typography-face {
	width:100px;
	float:left
}
#dbt_container .controls .dbt-typography-style {
	width:80px;
	float:left
}
#dbt_container .controls .dbt-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#dbt_container .controls .dbt-radio-img-selected {
	border:3px solid #ccc
}
#dbt_container .controls .dbt-radio-img-img:hover {
	opacity:.8;
}
#dbt_container .controls .dbt-border-width {
	width:80px;
	float:left
}
#dbt_container .controls .dbt-border-style {
	width:120px;
	float:left
}
#dbt_container .group {
	padding-bottom:20px
}
#dbt_container .group h2 {
	font-size: 1.3em;
	border-bottom:1px solid #e7e7e7;
        padding: 8px 15px 0px 0;
        margin-bottom: 5px;
}


#dbt_container .controls input:focus, #dbt_container select:focus, #dbt_container textarea:focus {
	background:#fff;
}
#dbt_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#dbt_container .warning {
	background: #ffeeee no-repeat 10px center;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#dbt_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#dbt_container .dbt-save-popup {
	position:absolute;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	background:rgba(0, 0, 0, 0.8);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none
}
#dbt_container .headerFooterTemplate, #dbt_container .layoutTextArea{
    width:100%;
    height: 150px;
}
#dbt_container .layoutTextAreaLarge{
    width:100%;
    height: 250px;
}
#dbt_container .fieldTypeHandle{
    padding: 5px;
}
#dbt_container .admin_config_panel{
    padding: 4px;
}
.save_bar_tools {
	background: #f9f9f9;
	border:solid #ccc;
	border-width:0 1px 1px 1px;
	padding: 5px 5px 10px;
	height: 30px;
	text-align: left;
}
.save_bar_top {
	background: #f3f3f3;
	border:solid #ccc;
	border-width:0px 1px 1px 1px;
	padding: 10px 20px 0px 20px;
	height: 35px;
	text-align: right;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.fbutton {
    float: left;
    padding: 3px 4px 3px 0;
    text-decoration: none;
}
.fbutton .button {
    display: inline-block;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 8px;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    line-height: 15px;
    text-decoration: none;
}
.fbutton .button.blue{
   background-image: -moz-linear-gradient(center top ,  #0088CC 0pt, #0055CC 100%);
}
.fbutton .button a, .fbutton .button a:hover, .fbutton .button a:active{
    color: #555;
    text-decoration: none !important;
}
.fbutton .button:hover, .fbutton .button:active{
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
    text-decoration: none;
}
.fbutton .button:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center top , #E6E6E6 0pt, #DCDCDC 100%);
    border-color: #999999 #AAAAAA #CCCCCC;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px #AAAAAA inset;
    color: #555555;

 }
 .button.active {
    box-shadow: 0 1px 2px #9dd100, 0 0 3px 4px #f7ffe1 inset;
    border: 1px solid #7EB800;
 }
.fbutton .button span{    
    cursor: default;
    text-decoration: none !important;
}
.dbt_configTitle{
    width:200px;
    float: left;
    padding: 3px;
}
.dbt_configField{
    float: left;
}
.dbt_configOption{
    padding: 5px 0;
    clear: both;
}

.dbt-elementItem, dbt-elementHelper{
    padding: 3px;
    clear: left;
    border: 1px solid #d9d7da;
    height: 55px;
    border-radius:5px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* IE10+ */
    background: linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #efefef;
    box-shadow: 0 1px 0 #ECECEC;
    margin-top: 10px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
.itemField{
    margin-top: 20px;
}
.itemField .fbutton .button, #formLayoutBoard .formRowControls .fbutton .button{
    padding: 3px 4px;
    margin-top: 3px;
}
.itemField .title{
    font-size: 1em;
    font-weight: normal;
}
.dbt-elementHelper{
    margin-top: 20px;
    height: 43px;
    box-shadow: 0px 0px 10px #999;
    border-radius: 5px;
    background-color: #ccc;
}
.itemField .dbt-elementItem{
    height: 35px;    
    padding: 2px 5px;
}
.itemField .dbt-elementItem .configControlForm{
    width: 49%;
    float: left;
}
.configControlField{
    margin-bottom: 4px;
}
.itemField .dbt-elementItem .configControlForm input, .itemField .dbt-elementItem .configControlForm select{
    width: 100px !important;
}
.itemField .dbt-elementItem.small{
    height: 17px;
    padding-left: 32px;
}

.itemField .dbt-elementItem .dbt-elementInfoPanel.start{
    border-left: 0;
}
.itemField .dbt-elementItem .dbt-elementInfoPanel.mid{
    padding: 0 5px;
    width: auto;
    min-width: 245px;
}
.itemField .dbt-elementItem .dbt-elementInfoPanel.last{
    padding: 0 5px;
    width: auto;
}
.itemField .dbt-elementItem .dbt-elementInfoPanel.primary{
    border: 0 none;
    float: right;
    width: 55px;
    text-align: center;
}
.itemField .dbt-elementItem .dbt-elementInfoPanel.primary input{
    margin: 12px 0 0;
}
.itemField .dbt-elementItem .dbt-elementInfoPanel{
    width: 190px;
    height: 35px;
    padding: 0;
}
.itemField .dbt-elementItem.small .dbt-elementInfoPanel{
    height: 17px;
}
.itemField .dbt-infopanel.dbt-elementItem{
    height: auto;
    clear: none;
    float: left;
    margin-bottom: 15px;
}
.itemField .dbt-infopanel.dbt-elementItem h2{
    font-size: 1em !important;
    
}
.itemField .dbt-infopanel.dbt-elementItem.field{
    margin-left: 8px;
    margin-right: 0;
    min-width: 210px;
    width: auto;

}
.itemField .dbt-infopanel.dbt-elementItem.type{
    margin-left: 5px;
    min-width: 325px;
    max-width: 490px;
    width: auto;
}
.itemField .dbt-infopanel.dbt-elementItem.processor{
    margin-left: 5px;
    min-width: 730px;
    max-width: 722px;
    width: auto;
}

.itemField .fieldTypes_types{
    margin: 5px 0;
    width: 160px;
    float: right;
}
.itemField .fieldTypes_cat{
    margin: 5px 0;
    width: 160px;
    float: left;
}
.itemField .fieldTypes_cat .button, .itemField .fieldTypes_types .button{
    margin: 0 0 5px 0;
}
.dbt-elementItem.lastactive{
    box-shadow: 0 0 3px #9CB300;
}
.dbt-appIcon{
    float:left;
    width:60px;
    height: 55px;
    border-right: 1px solid #d9d7da;
    background:url(images/cargo.png) 16px 48% no-repeat;
}
.dbt-elementIcon{
    float:left;
    width:60px;
    height: 55px;
    border-right: 1px solid #d9d7da;    
}
.dbt-elementIcon.list{
    background:url(images/list.png) 16px 48% no-repeat;
}
.dbt-elementIcon.api{
    background:url(images/api.png) 16px 48% no-repeat;
}
.dbt-elementIcon.form{
    background:url(images/form.png) 16px 48% no-repeat;
}
.dbt-elementIcon.filters{
    background:url(images/search.png) 16px 48% no-repeat;
}

.dbt-elementInfoPanel{
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    float:left;
    width: 195px;
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #d9d7da;
    height: 45px;
}
.dbt-elementInfoPanel.mid{
    width: 145px;
}
.dbt-elementInfoPanel.last.buttonbar{
    padding: 10px 0 0 13px;
    width: 145px;
}
.dbt-elementInfoPanel.last{
    border-right:0;
    width: 118px;
    padding-top: 1px;
}
.dbt-elementInfoPanel.description{
    font-size: 10px;
    text-shadow: 2px 2px #990011;
    color: #b4b4b4;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    text-shadow: 0px 1px 0px #fff;
    overflow: hidden;
}
#dbt_container .group .dbt-infopanel .infoburst{    
    padding: 3px;
}
#dbt_container .group .dbt-infopanel h2{
    font-size: 1.3em;
    margin: 0 0 5px;
    padding: 0;    
}
.dbt-appBox{
    padding: 3px;
    width:228px;
    height: 155px;
    margin: 15px 15px 0 0;
    float:left;
    border: 1px solid #d9d7da;
    border-radius:5px;
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* IE10+ */
    background: linear-gradient(top,  #f9f9f9 0%,#ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #efefef;
    box-shadow: 0 1px 0 #ECECEC;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
.dbt-appBox .dbt-appWrap .infoDelete{
    width:142px;
    cursor: default;
    font-size: 11px;
}
.dbt-appBox .dbt-appWrap{
    height: 118px;
    overflow: hidden;
}
.dbt-appBox .dbt-appWrap.confirm{
    padding: 35px;
}

.dbt-appBox .buttonbar{
    padding-left: 5px;
}
.dbt-appBox .dbt-appWrap .buttonbar{
    padding-left: 20px;
    margin-top: 21px;
}

.dbt-appBox:hover{
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 7px #d4d4d4;
}
.dbt-appBox h3{
    font-size: 1em;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
}
.dbt-appBox .description{
    font-size: 1em;
    
}
.dbt-infopanel{
    width:250px;
    margin: 0 20px;
    border-radius:0px 0px 5px 5px;
    padding: 0 10px 10px;
    height: auto;
}
.dbt-elementCount{
    background-color: #8c8c8c;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    padding: 0 5px;
    text-shadow: 1px 1px 0 #333333;
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 5px;
}
.current .dbt-elementCount{
    background-color: #DD1F21;
}
.formFieldElement{
    overflow: hidden;
}
.infoLabel{    
    color: #333;
    font-size: 9px;
    padding: 2px 5px;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
}
.infoTrigger{
    background-color: #555555;
    color: #ffffff;
    font-size: 0.6em;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #333333;
}
.infoDelete{
    background-color: #DD1F21;
    color: #ffffff;
    font-size: 0.8em;
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #333333;
    width: 103px;
    text-align: center;
}
.infoTrigger:hover{
    background-color: #777;
}
#saveIndicator{
    background-color: #669900;
    color: #ffffff;
    font-size: 0.8em;
    padding: 2px 5px;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 1px 0 #333333;
    float:right;
    margin: 0 27px;
    display: none;
    box-shadow: 0 2px 5px #336600;
    
}

/*formlayout*/
.dbt-formlayout-fields #formFields{
    padding: 4px 10px 8px;
    min-height: 100px;
    width: 120px;
}
#formFields .formElementRemove{
    display:none;
}
#formFields div{
    display: block;
    margin: 2px 0;
    width: 102px;
    cursor: move;
}
.dbt-formlayout-fields{
    width: 140px;
    float:left;
    background-color: #efefef;
    min-height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 15px -10px #444444 inset;
}
.dbt-formlayout-board{
    width: 650px;
    float:right;    
}
#formLayoutBoard .formRow .fieldHolder{
    min-height: 40px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px -2px inset;    
    margin: 6px 3px 8px;
    background-color: #efefef;
}
#formLayoutBoard .formColumn .columnMerge{
    margin: 18px -7px;
    position: absolute;
    cursor: pointer;
}
#formLayoutBoard .formColumn{
    float: left;
}
#formLayoutBoard .formRow{
    clear: both;
    float: left;
    width: 530px;
}
#formLayoutBoard .formRowControls{
    float: right;
    width: 115px;
}
.formLayoutShadow{
    margin-top: 3px;
    height: 29px;
    
    border-radius: 5px;
    background-color: #ccc;
}
#formLayoutBoard .formLayoutShadow{
    
    height: 50px;
}

.fieldHolder .button{
    cursor: move;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 6px 8px;
    text-decoration: none;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
}



.dbt-formlayout-fields h2{
    font-size: 10px !important;
    line-height: 20px;
    margin: 0 7px !important;
    padding: 0 !important;
}
/*render admin */

.dbt-toolbar{
    clear: both;
    padding: 0;
    margin:0 0 6px 0;
}
.dbt-filterbar{
    clear: both;
    margin: 10px 0;


}
.dbt-filterbox{
    margin: 0 3px 0 0;
}
.dbt-check-column{
    padding: 3px 0 3px !important;
}
.dbt-column-action{
    width: 50px;
}
/*!
 * Bootstrap v2.0.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-white {
  background-image: url("images/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}
